/* Styles généraux login.php */
       
        /* Conteneur principal */


        .main_content {
          background-color: #fff;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          width: 100%;
          max-width: 400px;
          margin: 0 auto;
} 
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        
        /* Onglets */
        .tab {
            overflow: hidden;
            border-bottom: 2px solid #007bff;
            margin-bottom: 20px;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 16px;
            color: #007bff;
        }

        .tab button:hover {
            background-color: #f1f1f1;
        }

        .tab button.active {
            background-color: #007bff;
            color: white;
        }

        /* Contenu des onglets */
        .tabcontent {
            display: none;
            padding: 20px;
        }

        /* Styles du formulaire */
        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 8px;
            font-weight: bold;
            color: #007bff;
        }

        input[type="text"],
        input[type="password"] {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #007bff;
        }

        h2 {
            color: #007bff;
            margin-bottom: 20px;
        }

        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            margin: 0;
        }

        .page-center {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f5f5f5; /* optionnel */
        }
/* message d'erreur */
        .erreur {
            color: #004085;
            background-color: #cce5ff;
            border: 1px solid #b8daff;
            padding: 5px;
            margin-top: 5px;
            font-size: 14px;
            width: fit-content;
        }